{% load static %}
{% load base_extras %}
<!doctype html>
<html lang="en" class="layout-pf layout-pf-fixed-with-footer">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.5/css/patternfly.min.css"
          integrity="sha512-6UpU9AcZHviFiYbPBQSNtdLnWsTo8Y/1bnfc/OM2Hh4jEeQZEa9TfmOVGzLHE90YV44V/u5I0cnQr4uwMW2P6w==">
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.5/css/patternfly-additions.min.css"
          integrity="sha512-EYt56ZZC96V80F1+H7qwhi3NUIzR7onpd+RsVWHUxQfZSiIWmsQFD+6J/bS6OsAGKgvRftxtkxB16efK4mDFaA==">
    <title>Red Hat Component Registry | {% block title %}{% endblock %}</title>
  </head>
  <body style="background-color: whitesmoke">
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div style="margin: 3px 0 5px 20px;">
        <a title="Red Hat Component Registry" href="/"
           style="font-size: 14px; text-decoration: none; color: white">
          <strong>Component Registry</strong>
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li class="dropdown">
            <button class="btn btn-link nav-item-iconic" id="horizontalDropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="padding: 10px 10px;">
              <span title="Help" class="fa pficon-help dropdown-title"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="horizontalDropdownMenu1">
              <li>
                <a href="mailto:{% app_email %}" target="_blank" rel="noopener noreferrer">
                  Contact Developers
                  <em class="fa fa-envelope-o" style="padding-left: 5px"></em>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="https:///github.com/RedHatProductSecurity/component-registry/tree/main/docs" target="_blank" rel="noopener noreferrer">
                  Docs
                  <em class="fa fa-external-link" style="padding-left: 5px"></em>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <div class="container-fluid footer-pf">
      <div class="text-center" style="padding-bottom: 5px">
        Copyright © {% now 'Y' %} Red Hat, Inc. All rights reserved.
        |
        Version: {% app_version %}{% app_git_ref %}
        |
        <a href="{% app_docs %}"
           rel="noopener noreferrer" target="_blank">
          Report Issue
        </a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.5/js/patternfly.min.js"
            integrity="sha512-2FQ8kPYjC5aQ34oh9jklEfgPDvpFoX0AA6l4K1QR9fx7fvu73NiwB8vPbyynjFjOLy7igvcQQlOTIFEdWfSMhQ=="
            crossorigin="anonymous"></script>
  </body>
</html>
