{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
  <hr/>
  <p>Corgi: <a href='/api/v1/'>API</a> | <a href='api/healthy'>Health</a> | <a href='/api/v1/status'>Status</a></p>
  <hr/>
  <p>Docs: <a href='https:///github.com/RedHatProductSecurity/component-registry/-/blob/main/TUTORIAL.md'>Corgi REST API tutorial</a>
  <a href='/api/v1/schema/docs'>API</a></p>
  <p>Schema: <a href='/api/v1/schema?format=json'>JSON</a>| <a href='api/v1/schema?format=yaml'>YAML</a></p>
</div>
{% endblock %}
