.whitesmoke {
  background-color: whitesmoke;
}

.margin {
  margin: 3px 0 5px 20px;
}

.whitefont {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.padding {
  padding: 10px 10px;
}

.paddingleft {
  padding-left: 5px;
}

.paddingbottom {
  padding-bottom: 5px;
}
