.whitesmoke {
  background-color: whitesmoke;
}

.margin {
  margin: 3px 0 5px 20px;
}

.marginleft {
  margin-left: 1em;
}

.whitefont, .whitefont:hover {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.paddingbottom {
  padding-bottom: 5px;
}

.paddingright {
  padding-right: 0.5em;
}

.fa-padding {
  padding-right: 10px;
}

.home-page h1.card-pf-title {
  font-size: 24px;
}

.home-page .card-pf {
  min-height: 300px;
}

.home-page .card-pf li {
  font-size: large;
}

.jumbotron .container {
  margin-left: 100px;
}
